body {
	font-family: "Oswald";
}

header {
	padding: 30px 80px 30px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

footer {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}

.title {
	font-size: 36px;
	font-weight: 500;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	text-align: center;
}

.navbar {
	font-size: 24px;
	font-weight: 300;
	width: 392px;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

li > a:hover {
	color: #7c7071;
}

li > a {
	color: #000;
	text-decoration: none;
}

#home {
	text-align: center;
}

.story {
	display: flex;
	flex-direction: column;
	padding: 60px 125px 60px 80px;
}

.story_content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	padding-top: 60px;
}

#img_story {
	width: 600px;
	height: 400px;
	padding-right: 40px;
}

.story_text {
	font-size: 20px;
	font-weight: 300;
	max-width: 597px;
	align-self: center;
}

.blog {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 60px 120px 60px 120px;
	background-color: #EFEFEF;
}

.blog_content {
	padding-top: 60px;
	display: flex;
	min-width: 1235px;
	justify-content: space-between;
}

.card {
	padding: 0px 20px 0px 20px;
	background-color: #ffff;
}

.card_title {
	font-size: 24px;
	font-weight: 400;
}

.card_img {
	width: 325px;
	height: 216px;
}

.card_text {
	max-width: 325px;
	font-size: 18px;
	font-weight: 300;
}

.subscribe {
	background-color: #817070;
	padding: 60px 0px 60px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 220px;
}

input {
	font-size: 20px;
	font-weight: 300;
	background-color: #817070;
	color: #ffff;
	width: 300px;
	height: 55px;
	border: 3px solid #ffff;
	text-align: center;
	outline: none;
}

.submit {
	background-color: #ffff;
	border: none;
	color: #817070;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	width: 130px;
	height: 55px;
}

#title_subscribe {
	color: #ffff;
}

::placeholder {
	color: #ffff;
}
